body
{
	background-image: url(http://fc01.deviantart.net/fs37/i/2008/257/8/a/fantasy_sky_bg_05_by_joannastar_stock.jpg);
	background-size: 1000px 1400px ;
}
div
{
	background-color: #41C7F9 ;
}
header
{
	font-size: 20px;
	color: black;
	border-color: white;
}
footer
{
	font-size: 20px;
	color: black;
	border-color: black;
}
html, h1, h2, h3, ul, li
{
	padding: 2px ;
	border: 2px;
	margin: 0px;
	font-size: 50px;
	font-family : "Comic Sans MS", cursive, sans-serif ;
	color: #7541F9 ;
}
h1 
{
	font-style: 30px ;
	font-weight: bold ;
	font-family : "Comic Sans MS", cursive, sans-serif ;
	text-align: center ;
	background-color: #05DFDC ;
	color: #8732D7 ;
}
h2
{
	font-style: 40px ;
	font-weight: normal ;
	font-family : "Comic Sans MS", cursive, sans-serif ;
	text-align: center ;
	background-color: #41EDCB ;
	color: #8732D7 ; 

}
h3
{
	font-size: 30px ;
	font-weight: bold;
	font-family : "Comic Sans MS", cursive, sans-serif ;
	text-align: center ;
	border-bottom: 1px solid #27a9e1;
	margin: 10px 0 10px 0;
}
a
{
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
	color: #EFB964 ;
}
.tag li, .Pro li, .NaTe li, .T li, .S li
{
	text-align: center ;
	font-size: 25px ;
	font-weight: normal;
	color: #EA64EF ;
}
.Tea
{
	text-align: center ;
	width:  700px;
	margin: 1 auto;
}
.tag 
{
	width:  500px;
	margin: 0 auto;
}

.tag ul, .Tea ul, .NaTe ul , .Tea ul
{
	text-align: center ;
	list-style: none;
}
.S
{
	margin-bottom: 5px;
}

.S li
{
	display: inline;
	background-color: #a55060 ;
	color: #ffffff ;
	padding: 5px ;
	margin-left: 8px ;
}

.footer
{
	background-color: #27a5b9;
	text-align: center ;
	font-weight: normal ;
	font-size: 14px;
	padding: 0;
}
